:root {
  --space-left: 50px;
}

*::before,
*::after,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-height: 100vh;
  display: grid;
  grid-template: auto 4fr / 1fr 4fr;
  font-family: "Roboto", sans-serif;
}

#sidebar ul li img,
#sidebar .dashboard img,
.project-container .project .actions img,
#header .search-bar label img,
#header .profile-container .bell-img,
#header .profile-container .pfp-small {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

/* Header Styling */

#header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
  padding-left: var(--space-left);
  padding-top: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar label img {
  width: 1.4rem;
  cursor: pointer;
}

.search-input {
  flex: 1;
  border-radius: 20px;
  background-color: #DCDCDC;
  border: none;
  height: 1.8rem;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-container .bell-img,
.profile-container h3,
.profile-container .pfp-small {
  cursor: pointer;
}

.greeting-container {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 5px;
}

.greeting-text p:first-child {}

.greeting-text p:nth-child(2) {
  font-weight: bold;
  font-size: 1.4rem;
}

.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#header .btns-container button {
  cursor: pointer;
  background-color: #318CE7;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px 25px;
  font-weight: bold;
}

/* Sidebar Styling */

#sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #318CE7;
  color: white;
  display: grid;
  grid-template-rows: auto auto 1fr;
  font-size: 1rem;
}

.dashboard {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
  font-size: 2rem;
}

#sidebar ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 40px;
}

#sidebar ul li:hover {
  background-color: #4a9de2;
  border-left: 3px solid white;
}

#sidebar ul {
  padding: 0;
}

#sidebar ul li p,
#sidebar .dashboard h3 {
  cursor: pointer;
}



/* Content Styling */

#content {
  background-color: #E5E7EB;
  padding-left: var(--space-left);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.project {
  border-left-color: #de985e;
}

.trend-text {
  opacity: 0.6;
}